# Loading the Plotly Express Data Sets

Plotly express comes with several data sets pre-loaded which we can use for testing and exploration purposes. In this recipe we will learn to load such data sets.

## Getting ready 
1. Import the `plotly` module and cerify that your version is 4.14 (this is when the data sets were included for the first time) or newer

In [1]:
import plotly

In [2]:
plotly.__version__

'5.22.0'

## How to do it 
1. Import the `plotly.express.data` submodule as `datasets`

In [3]:
import plotly.express.data as datasets

2. Print the names of the data sets available

In [4]:
for name in dir(datasets):
    if '__' not in name:
        print(name)

carshare
election
election_geojson
experiment
gapminder
iris
medals_long
medals_wide
stocks
tips
wind

3. Import one of the available data sets and check its type

In [6]:
data = datasets.stocks()
type(data)

pandas.core.frame.DataFrame

It is a pandas `DataFrame`!


4. Use the method `head` to inspect it.

In [7]:
data.head()

         date      GOOG      AAPL      AMZN        FB      NFLX      MSFT
0  2018-01-01  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1  2018-01-08  1.018172  1.011943  1.061881  0.959968  1.053526  1.015988
2  2018-01-15  1.032008  1.019771  1.053240  0.970243  1.049860  1.020524
3  2018-01-22  1.066783  0.980057  1.140676  1.016858  1.307681  1.066561
4  2018-01-29  1.008773  0.917143  1.163374  1.018357  1.273537  1.040708