# Reshaping Data with Pandas

When working with data, it is common to encounter situations where the format of your `DataFrame` is not ideal for analysis or visualization. Reshaping data can help you transform the structure of your data to better suit your needs. This recipe illustrates two powerful tools available in Pandas for reshaping data, namely


- `pivot`: This method allows you to "pivot" a DataFrame, turning unique values from one column into new columns and filling them with corresponding values from another column. It is especially useful for converting long-form data (also known as tidy data) into a wide format.
  
- `melt`: This method is the inverse of pivot. It is used to "melt" a wide-format DataFrame into a long-format, where multiple columns are unpivoted into a single column, making it easier to work with or visualize when you have a large number of variables.

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = {
    'Month': ['Jan', 'Jan', 'Feb', 'Feb', 'Mar', 'Mar', 'Apr', 'Apr'],
    'Region': ['North', 'South', 'North', 'South', 'North', 'South', 'North', 'South'],
    'Product': ['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B'],
    'Sales': [250, 200, 260, 210, 270, 220, 180, 210]
}
df = pd.DataFrame(data)

In [4]:
df

  Month Region Product  Sales
0   Jan  North       A    250
1   Jan  South       A    200
2   Feb  North       A    260
3   Feb  South       A    210
4   Mar  North       A    270
5   Mar  South       A    220
6   Apr  North       B    180
7   Apr  South       B    210

You may want to see the sales data in a wide format where each row represents a month, each column represents a region, and the sales values are filled in accordingly.

Here, the Month column becomes the index, the Region column values become the columns, and the Sales values are filled into the corresponding cells.

In [5]:
df.pivot(index='Month', columns='Region', values='Sales')

Region  North  South
Month
Apr       180    210
Feb       260    210
Jan       250    200
Mar       270    220

In [7]:
df_pivot = df.pivot(index='Month', columns='Region', values='Sales')
df_pivot

Region  North  South
Month
Apr       180    210
Feb       260    210
Jan       250    200
Mar       270    220

In [10]:
data = {
    'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
    'North': [250, 260, 270, 180],
    'South': [200, 210, 220, 210]
}

df_wide = pd.DataFrame(data)
print(df_wide)

  Month  North  South
0   Jan    250    200
1   Feb    260    210
2   Mar    270    220
3   Apr    180    210

In [11]:
melted_df = pd.melt(df_wide, id_vars=['Month'], value_vars=['North', 'South'], var_name='Region', value_name='Sales')
print(melted_df)

  Month Region  Sales
0   Jan  North    250
1   Feb  North    260
2   Mar  North    270
3   Apr  North    180
4   Jan  South    200
5   Feb  South    210
6   Mar  South    220
7   Apr  South    210