# Creating Columns as Functions of Existing Columns

## Getting ready

Import `pandas` and `numpy` and create a `DataFrame` to work with

In [1]:
import pandas as pd
import numpy as np

In [2]:
dates = pd.date_range('1/1/2020', periods=8)
data = np.random.randn(8, 3)
df = pd.DataFrame(data,
                  index=dates, columns=['A', 'B', 'C'])
df.head()

                   A         B         C
2020-01-01  0.708974  1.653839  0.460311
2020-01-02 -0.244630  0.063613  0.309403
2020-01-03  0.323868  0.438768  0.570030
2020-01-04 -0.440328 -0.276695  1.078906
2020-01-05  0.504205  0.600484  1.312837

## How to do it
1. Create a new column as a function of an existing column.

In [3]:
df['Squared_A'] = df['A']**2

2. Create a new column as the sum, and product of two existing columns

In [4]:
df['Sum_AB'] = df['A'] + df['B']
df['Prod_AB'] = df['A'] * df['B']
df

                   A         B         C  Squared_A    Sum_AB   Prod_AB
2020-01-01  0.708974  1.653839  0.460311   0.502644  2.362813  1.172529
2020-01-02 -0.244630  0.063613  0.309403   0.059844 -0.181016 -0.015562
2020-01-03  0.323868  0.438768  0.570030   0.104891  0.762637  0.142103
2020-01-04 -0.440328 -0.276695  1.078906   0.193889 -0.717024  0.121837
2020-01-05  0.504205  0.600484  1.312837   0.254223  1.104689  0.302767
2020-01-06 -1.148653  1.119476  1.374591   1.319403 -0.029177 -1.285889
2020-01-07 -1.795673 -1.071452  0.695752   3.224442 -2.867125  1.923978
2020-01-08 -1.455186 -0.705272 -0.082883   2.117567 -2.160459  1.026303

3. Create a new column evaluating a function on existing columns. To do this we need to 

- Define the function that we want to evaluate
- Use the method `apply` combined with a `lambda` expression

In [5]:
from math import sin

def my_function(x, y, z):
    return sin(x) + sin(y) + sin(z)


df['function_ABC'] = df.apply(lambda x: my_function(x['A'], x['B'], x['C']), axis=1)
df

,A,B,C,Squared_A,Sum_AB,Prod_AB,function_ABC
2020-01-01,0.708974,1.653839,0.460311,0.502644,2.362813,1.172529,2.091836
2020-01-02,-0.244630,0.063613,0.309403,0.059844,-0.181016,-0.015562,0.125863
2020-01-03,0.323868,0.438768,0.570030,0.104891,0.762637,0.142103,1.282718
2020-01-04,-0.440328,-0.276695,1.078906,0.193889,-0.717024,0.121837,0.182027
2020-01-05,0.504205,0.600484,1.312837,0.254223,1.104689,0.302767,2.015066
2020-01-06,-1.148653,1.119476,1.374591,1.319403,-0.029177,-1.285889,0.968473
2020-01-07,-1.795673,-1.071452,0.695752,3.224442,-2.867125,1.923978,-1.211755
2020-01-08,-1.455186,-0.705272,-0.082883,2.117567,-2.160459,1.026303,-1.724354

4. Create a column which maps the values of a column to a set of colors depending on some boundaries. 
For example, we are going to map column `C` as follows:

- 'black' for values < -3
- 'yellow' for values in [-3, 3]
- 'green' for values >3

In [7]:
def color_function(x):
    if x < -3:
        return 'black'
    elif x > 3:
        return 'green'
    else: 
        return 'yellow'


df['color'] = df.apply(lambda x: color_function(x['C']), axis=1)
df

,A,B,C,Squared_A,Sum_AB,Prod_AB,function_ABC,color
2020-01-01,0.708974,1.653839,0.460311,0.502644,2.362813,1.172529,2.091836,yellow
2020-01-02,-0.244630,0.063613,0.309403,0.059844,-0.181016,-0.015562,0.125863,yellow
2020-01-03,0.323868,0.438768,0.570030,0.104891,0.762637,0.142103,1.282718,yellow
2020-01-04,-0.440328,-0.276695,1.078906,0.193889,-0.717024,0.121837,0.182027,yellow
2020-01-05,0.504205,0.600484,1.312837,0.254223,1.104689,0.302767,2.015066,yellow
2020-01-06,-1.148653,1.119476,1.374591,1.319403,-0.029177,-1.285889,0.968473,yellow
2020-01-07,-1.795673,-1.071452,0.695752,3.224442,-2.867125,1.923978,-1.211755,yellow
2020-01-08,-1.455186,-0.705272,-0.082883,2.117567,-2.160459,1.026303,-1.724354,yellow

5. Create a column using a condition. For example, checking of the value of a column is positive or negative.

In [8]:
df['Flag'] = df['A'] >= 0 
df

,A,B,C,Squared_A,Sum_AB,Prod_AB,function_ABC,color,Flag
2020-01-01,0.708974,1.653839,0.460311,0.502644,2.362813,1.172529,2.091836,yellow,True
2020-01-02,-0.244630,0.063613,0.309403,0.059844,-0.181016,-0.015562,0.125863,yellow,False
2020-01-03,0.323868,0.438768,0.570030,0.104891,0.762637,0.142103,1.282718,yellow,True
2020-01-04,-0.440328,-0.276695,1.078906,0.193889,-0.717024,0.121837,0.182027,yellow,False
2020-01-05,0.504205,0.600484,1.312837,0.254223,1.104689,0.302767,2.015066,yellow,True
2020-01-06,-1.148653,1.119476,1.374591,1.319403,-0.029177,-1.285889,0.968473,yellow,False
2020-01-07,-1.795673,-1.071452,0.695752,3.224442,-2.867125,1.923978,-1.211755,yellow,False
2020-01-08,-1.455186,-0.705272,-0.082883,2.117567,-2.160459,1.026303,-1.724354,yellow,False

6. Map a column with boolean values to color names in string format. For example, map `True` to color 'green' and `False` to color 'red'.

In [9]:
df['Flag_to_Colors'] = df['Flag'].map({True:'green', False:'red'}) 
df

,A,B,C,Squared_A,Sum_AB,Prod_AB,function_ABC,color,Flag,Flag_to_Colors
2020-01-01,0.708974,1.653839,0.460311,0.502644,2.362813,1.172529,2.091836,yellow,True,green
2020-01-02,-0.244630,0.063613,0.309403,0.059844,-0.181016,-0.015562,0.125863,yellow,False,red
2020-01-03,0.323868,0.438768,0.570030,0.104891,0.762637,0.142103,1.282718,yellow,True,green
2020-01-04,-0.440328,-0.276695,1.078906,0.193889,-0.717024,0.121837,0.182027,yellow,False,red
2020-01-05,0.504205,0.600484,1.312837,0.254223,1.104689,0.302767,2.015066,yellow,True,green
2020-01-06,-1.148653,1.119476,1.374591,1.319403,-0.029177,-1.285889,0.968473,yellow,False,red
2020-01-07,-1.795673,-1.071452,0.695752,3.224442,-2.867125,1.923978,-1.211755,yellow,False,red
2020-01-08,-1.455186,-0.705272,-0.082883,2.117567,-2.160459,1.026303,-1.724354,yellow,False,red