# Selecting and Manipulating Indices,  Columns, and Rows, in a Pandas DataFrame

## Getting ready

1. Import both `pandas` and `numpy` libraries

In [2]:
import pandas as pd
import numpy as np

2. Create a range of dates using `date_range`. We will use this as the index of our `DataFrame`.

In [3]:
dates = pd.date_range(start='1/1/2020', periods=8)

3. Create a `numpy` of size (8, 4) with random numbers. We will use these numbers as the content of our `DataFrame`

In [4]:
data = np.random.randn(8, 4)

4. Create a `DataFrame` with index and contex given by `dates` and `data`, respectively. We will specify the names of the columns via the input `columns`.

In [5]:
df = pd.DataFrame(data, index=dates, columns=['Product_A', 'Product_B', 'Product_C', 'Product_D'])
df

            Product_A  Product_B  Product_C  Product_D
2020-01-01   0.881663   0.987620   0.515382  -0.244335
2020-01-02  -0.367481  -1.071615   0.216773   1.318869
2020-01-03   1.174202   1.252871  -0.545009   0.077535
2020-01-04  -1.007827  -1.093999   1.472493  -0.493387
2020-01-05  -0.972515   0.119187  -0.563892   0.389504
2020-01-06   2.905071   0.168398  -0.679490  -0.571970
2020-01-07  -0.070295   0.269492   0.107710   0.998263
2020-01-08   0.657587   1.262432  -0.284617   0.465781

## How to do it

1. Select a column of the `DataFrame` by simply specifying its name as follows

In [ ]:
df['Product_A']

2020-01-01    0.881663
2020-01-02   -0.367481
2020-01-03    1.174202
2020-01-04   -1.007827
2020-01-05   -0.972515
2020-01-06    2.905071
2020-01-07   -0.070295
2020-01-08    0.657587
Freq: D, Name: Product_A, dtype: float64

In [7]:
df.Product_A

2020-01-01    0.881663
2020-01-02   -0.367481
2020-01-03    1.174202
2020-01-04   -1.007827
2020-01-05   -0.972515
2020-01-06    2.905071
2020-01-07   -0.070295
2020-01-08    0.657587
Freq: D, Name: Product_A, dtype: float64

2. Select a column by using the method `loc`

In [8]:
df.loc[:,'Product_A']

2020-01-01    0.881663
2020-01-02   -0.367481
2020-01-03    1.174202
2020-01-04   -1.007827
2020-01-05   -0.972515
2020-01-06    2.905071
2020-01-07   -0.070295
2020-01-08    0.657587
Freq: D, Name: Product_A, dtype: float64

3. Select several columns using the method `loc`

In [9]:
df.loc[:,['Product_A', 'Product_B']]

            Product_A  Product_B
2020-01-01   0.881663   0.987620
2020-01-02  -0.367481  -1.071615
2020-01-03   1.174202   1.252871
2020-01-04  -1.007827  -1.093999
2020-01-05  -0.972515   0.119187
2020-01-06   2.905071   0.168398
2020-01-07  -0.070295   0.269492
2020-01-08   0.657587   1.262432

4. Select a set of rows and columns using the method `loc`

In [10]:
df.loc[dates[5],['Product_A', 'Product_B']]

Product_A    2.905071
Product_B    0.168398
Name: 2020-01-06 00:00:00, dtype: float64

In [11]:
df.loc[dates[5] :,'Product_B': ]

            Product_B  Product_C  Product_D
2020-01-06   0.168398  -0.679490  -0.571970
2020-01-07   0.269492   0.107710   0.998263
2020-01-08   1.262432  -0.284617   0.465781

5. Select a column by using `.iloc`. In this case, we have to pass the position of the column

In [12]:
df.iloc[:,1]

2020-01-01    0.987620
2020-01-02   -1.071615
2020-01-03    1.252871
2020-01-04   -1.093999
2020-01-05    0.119187
2020-01-06    0.168398
2020-01-07    0.269492
2020-01-08    1.262432
Freq: D, Name: Product_B, dtype: float64

6. Select several columns by using the method `iloc`

In [13]:
df.iloc[:,1:]

            Product_B  Product_C  Product_D
2020-01-01   0.987620   0.515382  -0.244335
2020-01-02  -1.071615   0.216773   1.318869
2020-01-03   1.252871  -0.545009   0.077535
2020-01-04  -1.093999   1.472493  -0.493387
2020-01-05   0.119187  -0.563892   0.389504
2020-01-06   0.168398  -0.679490  -0.571970
2020-01-07   0.269492   0.107710   0.998263
2020-01-08   1.262432  -0.284617   0.465781

7. Select a row by using the method `iloc`

In [14]:
df.iloc[0,:]

Product_A    0.881663
Product_B    0.987620
Product_C    0.515382
Product_D   -0.244335
Name: 2020-01-01 00:00:00, dtype: float64


8. Reset the index of the `DataFrame`

In [15]:
df.reset_index()

       index  Product_A  Product_B  Product_C  Product_D
0 2020-01-01   0.881663   0.987620   0.515382  -0.244335
1 2020-01-02  -0.367481  -1.071615   0.216773   1.318869
2 2020-01-03   1.174202   1.252871  -0.545009   0.077535
3 2020-01-04  -1.007827  -1.093999   1.472493  -0.493387
4 2020-01-05  -0.972515   0.119187  -0.563892   0.389504
5 2020-01-06   2.905071   0.168398  -0.679490  -0.571970
6 2020-01-07  -0.070295   0.269492   0.107710   0.998263
7 2020-01-08   0.657587   1.262432  -0.284617   0.465781

Note that this operation does not modify the original `DataFrame`. 
Verify this by inspecting it.

In [16]:
df

            Product_A  Product_B  Product_C  Product_D
2020-01-01   0.881663   0.987620   0.515382  -0.244335
2020-01-02  -0.367481  -1.071615   0.216773   1.318869
2020-01-03   1.174202   1.252871  -0.545009   0.077535
2020-01-04  -1.007827  -1.093999   1.472493  -0.493387
2020-01-05  -0.972515   0.119187  -0.563892   0.389504
2020-01-06   2.905071   0.168398  -0.679490  -0.571970
2020-01-07  -0.070295   0.269492   0.107710   0.998263
2020-01-08   0.657587   1.262432  -0.284617   0.465781

If you want to modify the original `DataFrame`, use the input `inplace=True`.

In [17]:
df.reset_index(inplace=True)

In [18]:
df

       index  Product_A  Product_B  Product_C  Product_D
0 2020-01-01   0.881663   0.987620   0.515382  -0.244335
1 2020-01-02  -0.367481  -1.071615   0.216773   1.318869
2 2020-01-03   1.174202   1.252871  -0.545009   0.077535
3 2020-01-04  -1.007827  -1.093999   1.472493  -0.493387
4 2020-01-05  -0.972515   0.119187  -0.563892   0.389504
5 2020-01-06   2.905071   0.168398  -0.679490  -0.571970
6 2020-01-07  -0.070295   0.269492   0.107710   0.998263
7 2020-01-08   0.657587   1.262432  -0.284617   0.465781